In [1]:
import pandas as pd
import json
FILE_PATH = (r"C:\Users\Ranjit Singh\Desktop\insourance premium prediction\insurance.csv")
df = pd.read_csv(FILE_PATH)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520