In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [16]:
data_model.dtypes

age         int64
sex         int64
bmi         int64
children    int64
smoker      int64
region      int64
dtype: object

In [3]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [7]:
print(df.values[0])

[19 'female' 27.9 0 'yes' 'southwest' 16884.924]

In [17]:
data = [[2, 'male', 4, 5, 'yes','east']]
column_name = ['age', 'sex', 'bmi', 'children', 'smoker','region']

data_model = pd.DataFrame(data, columns=column_name)
data_model.head()

   age   sex  bmi  children smoker region
0    2  male    4         5    yes   east

In [18]:
column_name = ['age', 'sex', 'bmi', 'children', 'smoker','region']

In [23]:
data_model[column_name].values[0]

array([2, 'male', 4, 5, 'yes', 'east'], dtype=object)